<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="insertBoard">
        insert into BOARD (name, rank, clock_in, workplace, status, unique_number)
        values (#{name},#{rank},#{clock_in},#{workplace}, #{status}, #{unique_number})
    </insert>
    <update id="updateBoard">
        update BOARD
        set name = #{name}, rank = #{rank}, clock_in = #{clock_in}, workplace = #{workplace}, status = #{status}, unique_number = #{unique_number}
        where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from BOARD where seq = #{seq}
    </delete>
    <select id="getBoard" resultType="board">
        select * from BOARD where seq = #{seq}
    </select>
    <select id="getBoardList" resultType="board">
        select * from BOARD order by seq desc
    </select>
</mapper>